table.calendar-table {
	margin:1px auto 0 auto;
	padding:0;
	width:100%;
	border-top:solid 1px #a3a3a3;
	border-left:solid 1px #a3a3a3;
	border-collapse: collapse;
}

table.calendar-table caption{
  text-align:left;
  background:#eee;
}

table.calendar-table caption div{
  position:relative;
  padding: 13px;
  font-size: 16px;
  height: 24px;
  font-weight: bold;
}

table.calendar-table caption span{
  display:block;
  padding:3px;
  text-align:center;
}

table.calendar-table caption a{
  display:inline-block;
  position:absolute;
  background:#eee;
  text-decoration:none;
  font-weight:bold;
  padding:3px;
  top:0px;
}

table.calendar-table caption a:link,
table.calendar-table caption a:visited{
  color:#666;
}

table.calendar-table caption a:hover{
  color:#f0f;
}

table.calendar-table caption a.next{
  top: 10px;
  right:30px;
}

table.calendar-table caption a.prev{
  top: 10px;
  left:30px;
}

table.calendar-table tr th{
	padding:0;
	text-align:center;
	background-color:#c7d8ef;
	border-right:solid 1px #a3a3a3;
	border-bottom:solid 1px #a3a3a3;
}

table.calendar-table tr th.day0{
	background-color:#ef9595;
}

table.calendar-table tr th.day6{
	background-color:#a6c0e4;
}

table.calendar-table tr td{
	padding:0 1px 0 1px;
  vertical-align: top;
  text-align: left;
	background-color:#ffffff;
	border-right:solid 1px #a3a3a3;
	border-bottom:solid 1px #a3a3a3;
  font-size:12px;
  height: 60px;
  width:30px;
}

table.calendar-table tr td#day1 {
	border-right:none;
	background-color:#eeeeee;
}

table.calendar-table tr td#calLeft {
	border-right:none;
	background-color:#eeeeee;
}

table.calendar-table tr td#calRight {
	background-color:#eeeeee;
}

table.calendar-table tr td.day0{
	background-color:#ffcccc;
}

table.calendar-table tr td.day6{
	width:31px;
	background-color:#e9f2ff;
}

table.calendar-table tr td.holiday{
	background-color:#ff0000;
	color:#ffffff;
}

table.calendar-table tr td.selectedDate{
	background-color:#fff090;
	border: 2px #808080 solid;
}

table.calendar-table tr td span{
	font-size:9px;
	line-height:0.7;
}
